<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35956968707-vha19t772c60qp60em568i4jvh2sjrhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35956968707-vha19t772c60qp60em568i4jvh2sjrhh</string>
	<key>API_KEY</key>
	<string>AIzaSyC-mwvtmLgxalVCZfSJG7DjUTj24ZPj8as</string>
	<key>GCM_SENDER_ID</key>
	<string>35956968707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>neumarket-fd017</string>
	<key>STORAGE_BUCKET</key>
	<string>neumarket-fd017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35956968707:ios:f887e8365c5ea34eeaed36</string>
</dict>
</plist>